body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #3366cc;
    padding: 20px;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 0;
}
/* Estilos para el menú */
.menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.menu a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background-color: #ffcc00;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #fff;
    color: #b80000;
}

/* Estilos para el contenido */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.section-title {
    color: #3366cc;
    font-size: 24px;
    margin-bottom: 20px;
}

.noticia {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.noticia-titulo {
    margin-top: 0;
    margin-bottom: 10px;
    color: #3366cc;
    font-size: 20px;
}

.noticia img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.noticia p {
    margin-top: 0;
    font-size: 16px;
}

.noticia a {
    color: #3366cc;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para los botones del encabezado y el menú */
.boton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #ffcc00;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Estilos para los botones cuando el mouse está sobre ellos */
.boton:hover {
    background-color: #fff;
    color: #b80000;




/* Configuración del Service Worker */
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker.js')
        .then((registration) => {
          console.log('Service Worker registrado exitosamente:', registration.scope);
        })
        .catch((error) => {
          console.log('Error al registrar el Service Worker:', error);
        });
    });
  }
</script>
